    <div id="wrap">
      <%= render 'navbar' %>

<!-- Begin page content -->
      <div class="container">
       
        <div class="page-header">
          <h1>Tweet2Cite</h1>
        </div>
        
        <p class="lead">Growing out of a project I did during the <a href="https://generalassemb.ly/education/front-end-web-development/san-francisco">Front-End Web Development</a> program at <a href="https://generalassemb.ly/">General Assembly</a> in San Francisco, Tweet2Cite has always been about education. I wanted to make a tool that would be useful to the general public, to make use of JavaScript for more than just presentational magic, and to craft a site that embraced a front-end only philosophy.</p>

        <p class="lead">Tweet2Cite has had many iterations since its original conception, from bookmarklet to front-end app, with the same goal throughout: make citing tweets easy and fast for students, academics and journalists. Please keep an eye out for updates!</p>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Special thanks to: <a href="https://twitter.com/sferik">@sferik</a>, <a href="https://twitter.com/avand">@avand</a> and <a href="https://twitter.com/gkoberger">@gkoberger</a></p>
      </div>
    </div>