    <div id="wrap">
      <%= render 'navbar' %>

      <!-- Begin page content -->
      <div class="container">
       
        <div class="page-header">
          <h1>Ben Hedlund</h1>
        </div>
        
        <p class="lead">I develop websites and apps, which aim to do as much as possible on the front-end. Please feel free to contact me anytime!</p>
        <div>
          <span id="email-me" class="glyphicon glyphicon-envelope"></span>
          <a href="mailto:ben@hdlnd.com">ben@hdlnd.com</a>
        </div>
        <div id="follow-me">
          <a href="https://twitter.com/hdlnd" class="twitter-follow-button" data-show-count="false">Follow @hdlnd</a>
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Oh, you're a curious one. Yes, I'm <a href="mailto:ben@hdlnd.com">hireable</a>.</p>
      </div>
    </div>