    <div id="wrap">
      <%= render 'navbar' %>

      <!-- Begin page content -->
      <div class="container">
       
        <div class="page-header">
          <h1>Tweet2Cite</h1>
        </div>
        
        <p class="lead">A quick, easy, and free citation generator that converts Tweets into, properly formatted MLA and APA, citations. Paste a link to the Tweet you want to cite in the field below, click 'Go', and you're on your way!</p>
        
        <div class="cite-input">
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <input type="url" id="submit-form-url" class="form-control" placeholder="Paste Tweet link here...">
                <span class="input-group-btn">
                  <button id="submit" class="btn btn-success" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div>

        <div id="tweet-div" style="display: none;"></div>
        <div id="citations" class="lead" style="display: none;">
          <h2>MLA:</h2>
          <div id="mla-citation"></div>
          <h2>APA:</h2>
          <div id="apa-citation"></div>
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Special thanks to: <a href="https://twitter.com/sferik">@sferik</a>, <a href="https://twitter.com/avand">@avand</a> and <a href="https://twitter.com/gkoberger">@gkoberger</a></p>
      </div>
    </div>