    <div id="wrap">
      <%= render 'navbar' %>
      <script type="text/javascript">mixpanel.track('App Loaded');</script>

      <!-- Begin page content -->
      <div class="container">
       
        <div class="page-header">
          <h1>Tweet2Cite</h1>
        </div>
        
        <div class="row">
          <p class="lead col-sm-10 col-sm-offset-1">A quick, easy, and free citation generator that converts Tweets into, properly formatted MLA, APA and Wikipedia, citations. Paste the <a href="https://support.twitter.com/articles/80586-linking-to-an-individual-tweet">URL</a> of the Tweet you want to cite in the field below, tap 'Convert!', and you're on your way!</p>
        </div>
        
        <div id="cite-input">
          <div class="row">
            <form id="submit" class="form-inline" role="form">
              <div class="form-group col-sm-6 col-sm-offset-1">
                <label class="sr-only" for="submit-form-url">Paste Tweet URL here</label>
                <input type="url" class="form-control" id="submit-form-url" placeholder="Paste Tweet URL here...">
              </div>
              <div class="col-sm-2 col-md-2">           
                <button type="submit" class="btn btn-success col-xs-12">Convert!</button>
              </div>
            </form>
          </div><!-- /.row -->
        </div>
        <div class="row">
          <div id="tweet-div" class="col-sm-10 col-sm-offset-1" style="display: none;"></div>
          <div id="citations" class="lead col-sm-10 col-sm-offset-1" style="display: none;">
            <h2>MLA:</h2>
            <div id="mla-citation" class="v-citation"></div>
            <h2>APA:</h2>
            <div id="apa-citation" class="v-citation"></div>
            <h2>Wikipedia:</h2>
            <div id="wiki-citation" class="v-citation"></div>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tweet2cite.com" data-via="tweet2cite" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
      </div><!-- /.container -->
    </div><!-- /.wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit col-sm-3 col-sm-offset-9">another project by <a href="http://twitter.com/hdlnd">hdlnd</a></p>
      </div>
    </div>